<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>book_index</title>
</head>
<body>
{% for data in page %}
<p>
    {{data.title}}
</p>
{% endfor %}

{% if page.has_previous %}
<a href="/book/index?page={{page.previous_page_number}}">上一页</a>
{% else %}
上一页
{% endif %}

{% for p in paginator.page_range %}
  {% if p == page.number %}
{{p}}
{% else %}
<a href="/book/index?page={{p}}">{{p}}</a>
{% endif %}
{% endfor %}

{% if page.has_next %}
<a href="/book/index?page={{ page.next_page_number }}">下一页</a>
{% else %}
下一页
{% endif %}
</body>
</html>