<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
<div id="menu_parent" >
    <div id="menu_logo">
        <span id="ca-e">Computer Association</span>
        <span id="ca-c">计算机协会</span>
    </div>

    <div id="menu_wd">
        <ul id="menu_ul" >
            <li class="menu_li"><a href="index.html"><span class="menu">首页</span></a></li>
            <li class="menu_li"><a href="about-us.html"><span class="menu">关于我们</span></a></li>
            <li class="menu_li"><a href="news.html"><span class="menu">新闻动态</span></a></li>
            <li class="menu_li"><a href="message-board.html"><span class="menu">留言板</span></a></li>
            <li class="menu_li"><a href="go-with-us.html"><span class="menu">加入我们</span></a></li>
        </ul>
    </div>
</div>
<div id="content" class="container">
    <img src="../imgs/13.jpg" alt="">
</div>
<footer>
    <div id="foot">
    <a href="index.html"><span class="menu">首页</span></a>
    <a href="about-us.html"><span class="menu">关于我们</span></a>
    <a href="news.html"><span class="menu">新闻动态</span></a>
    <a href="message-board.html"><span class="menu">留言板</span></a>
    <a href="go-with-us.html"><span class="menu">加入我们</span></a>
        <span id="foot-wd">&copy;&nbsp;1994-2020 &nbsp;淮北师范大学 计算机协会</span>
    </div>
</footer>
</body>
</html>