<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test-json</title>
</head>
<body>
<button id="btn">getJSON</button>
<script src="../static/jquery.min.js"></script>
<script>
    var obj = {
        name:'wang',
        age:30,
        gender:'unknow'
    }
    var json = {
        // json对象
        "name":"Mis Wang",
        "age":30,
        "gender":"unknow"
    }
    // console.log(obj);
    // console.log(json);
    var arr=['tearch wang','mis wang','doctor wang'];
    var json_arr = [
        {
        "name":"teach wang",
        "age":38,
        },
        {
            "name":"mis wang",
            "age":35
        },
        {
            "name":'doctor wang',
            "age":14
        }];
    // console.log(arr);
    // console.log(json_arr);
</script>
</body>
</html>